@import "src/styles/index.scss";

.containerOurServices {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #F7F7F7 100%);
  @include desktop {
    flex-direction: row;
    justify-content: space-around;
  }
  .containerLeft {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    justify-items: center;
    align-items: center;
    width: max-content;
    margin: 1rem auto;
    
    .containerOurServiceItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      max-width: 17.5rem;
      max-height: 16.75rem;
      padding: 1.5rem;
      background: #FFFFFF;
      box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.05);
      border-radius: 6px;

      @include mobile {
        max-width: 12.5rem;
      }

      img {
        margin-bottom: 1rem;
      }
      .who {
        font-weight: 700;
        font-size: 1rem;
        line-height: 1.5rem;
        color: $primary_base;
        @include mobile {
          font-size: 0.875rem;
          line-height: 1rem;
        }
      }
      .title {
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        color: $text_base;
        margin: 0.25rem 0 0.5rem;
        @include mobile {
          font-size: 1.25rem;
          margin: 0.25rem 0 1rem;
        }
      }
      .description {
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $text_base;
      }
    }

    .spaceLeft {
      margin-left: 3rem;
      padding: 1.5rem;
    }
  }
  .containerRight {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 28rem;
    padding: 0.5rem 0.8rem;

    @include tablet {
      max-width: 31.25rem;
    }
    @include mobile {
      max-width: 17rem;
    }
    .containerOurServiceItem {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .who {
        font-weight: 700;
        font-size: 1.25rem;
        line-height: 2rem;
        color: $primary_base;
        @include tablet {
          font-size: 1rem;
          line-height: 1.5rem;
        }
        @include mobile
      }
      .title {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: -0.01em;
        color: $text_base;
        margin: 0.25rem 0 1rem;
        @include tablet {
          font-size: 1.5rem;
          line-height: 2rem;
        }
      }
      .description {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $primary_base;
        @include tablet {
          font-size: 0.875rem;
          line-height: 1.5rem;
        }
      }
    }
  }
}