$white: #FFF;
$black: #000;
$text_base: #5D6670;
$primary_100: #FFF6E8;
$primary_200: #FFE1B5;
$primary_300: #FFCD82;
$primary_400: #FFB94F;
$primary_base: #FBAB34;
$primary_600: #18B863;
$primary_700: #AD721A;
$primary_800: #7A4E0C;
$primary_900: #472C04;
$secondary_100: #F6F6F6;
$secondary_200: #F4F3F8;
$secondary_300: #E0DEEA;
$secondary_400: #ACABB7;
$secondary_base: #8C8A97;
$secondary_600: #716F7A;
$secondary_700: #5F5C6B;
$secondary_800: #4E4B59;
$secondary_900: #33303E;
$tertiary_100: #E8FAF1;
$tertiary_200: #D1F6E3;
$tertiary_300: #A4EDC6;
$tertiary_400: #8DE8B8;
$tertiary_base: #1BD171;
$tertiary_600: #18B863;
$tertiary_700: #149E55;
$tertiary_800: #0E6B3A;
$tertiary_900: #07381E;
$quartenary_100: #FFF2F3;
$quartenary_200: #FFCFD0;
$quartenary_300: #FF9497;
$quartenary_400: #FA7D80;
$quartenary_base: #EC3237;
$quartenary_600: #D42D31;
$quartenary_700: #A12226;
$quartenary_800: #6E171A;
$quartenary_900: #3B0C0E;