@import "src/styles/index.scss";

.header {
  @include container-main;

  .containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3rem;
  }

  .containerQuotes {
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 80%;
    margin: 0 auto;
    @include desktop {
      margin: 0;
      padding: 0;
      max-width: 37%;
    }
  }

  .containerQuote {
    display: flex; 
    align-items: center;
    margin: 0.75rem;
  }

  .containerPrice {
    display: flex;
    align-items: center;
    .price {
      margin-right: 0.5rem;
    }
    
    .price, .variation {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      color: $secondary_800;
    }
  }

  .symbol {
    margin-right: 0.5rem;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $secondary_800;
  }
}