@import "src/styles/index.scss";

.header {
  @include container-main;

  .containerHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25rem 3rem;
  }
}